*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.header {
    background: #575b62;
    height: 180px;
    width: 100%;
    display: block;
    z-index: 100;
}
.logo{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    float: left;
    width: 600px;
    height: 170px;
    padding: 5px;
    transition: 0.3s;
}
.avatar{
    float: right;
    width:80px;
}
.button1 button{

    background-color: #0a8086;
    margin: 8px 4px 4px 4px;
    width: 140px;
    height: 30px;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 1px 2px;
    cursor: pointer;
    display: block;
    color: white;
    border: none;
}
.button1 button:not{
    border-bottom: none;
}
.button1 button:hover{
    background-color: #0c666b;
}
.button1 {
    float: right;
    padding-right:10px ;
  }
.navbar {
    overflow: hidden;
    background-color: #31363f;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
 }
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}
.navbar a:hover {
    background-color: #575b62;
    color: white;
}
.navbar a.active {
    background-color: #67c9ce;
    color: black;
}
.navbar input{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color: white;
    color: black;
}
.offer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
fieldset{
    width: 700px;
    height: 850px;
    border: 5px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-image: url("../images/offerbg.jpg");
}
legend{
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: rgb(136, 66, 136);
    border: black 5px solid;
    z-index: 95;
    font-family: 'Cairo', sans-serif;
}
.offerp{
    font-size: 20px;
    font-weight: bold;  
}
.offerimg{
    width: 200px;
    height: 200px;
}
.offerp ul{
    padding-left: 20px;
}
.serv{
    list-style: disc;
    padding-left: 10px;
    font-family: 'Cairo', sans-serif;
}
.offerp p{
    font-family: 'Cairo', sans-serif;
}